/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width: 320px) and (max-device-width: 528px) {
	/* Styles */
	* {
		font-size: 10vw;
	}

 
  .profile_image_container{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

}

