/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width: 1px) and (max-device-width: 640px) {
	/* Styles */
	* {
		font-size: 5vw;
	}

  div.contenedor1{
    display: flex;
    flex-direction: column;
  }

  .profile_image_container{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  div.abilities_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 70px;
  }

  #form_map{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.contact_block{
    flex-direction: column;
    margin: 3rem;
  }

  #map{
    width: 90%;
    height: 100%;
  }

  #social_media_section{
    display: flex;
    flex-direction: row;
  }

  div.sm-elements{
    padding: 1rem;
  }
}

