*{
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

#menu_list {
  list-style-type:none;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#menu_list li{
  color: white;
  padding-left: 1rem;
}

header{
  padding: 1rem;
  height: 3rem;
}

section.principal_view {
  background-image: url("https://st4.depositphotos.com/36604282/41273/i/450/depositphotos_412735102-stock-photo-stars-sky-starry-night-starlight.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section.principal_view p, h1{
  color: white;
}

section.principal_view h1,#abilities, #works, #contact{
  font-size: 40px;
}

div.contenedor1{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0% 10% 10% 10%;
}

#profile_image_container{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 1rem;
}

#profile_info_container {
  padding: 1rem;
  text-align: center;
}

#profile_picture{
  /*border-radius: 20% 40% 20% 40%;*/
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#about_me{
  text-align: justify;
}

#sections_abilities {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 5rem;
}

section.abilities_view {
  background-color: #FEE2c5;
}

div.abilities_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  gap: 30px;
  padding: 10%;
}

#card{
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 30px 50px -25px #ad3500;
  text-align: center;
}

div.progress_block{
  margin: 1rem;
  text-align: center;
  padding: 1rem;
}

#card2{
  margin: 1rem;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 30px 50px -25px #ad3500;
}

#works_section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 5rem;
}

table{
  padding: 2rem;
  width: 90%;
  text-align: center;
  margin-bottom: 1.25em;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
  background: #f9f9f9;
}

td {
  border: 1px solid #000;
}

#work-logo{
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}

section.contact{
  position: relative;
  background-color: #A6CF98;
}

#contact_section {
  display: inline-block;
  flex-direction: row;
  justify-content: start;
  padding-left: 5rem;
}
/*
#triangle-bottomleft {
  position: absolute;
  width:0; 
  height:0; 
  border-bottom:400px solid white; 
  border-right:400px solid transparent;
} 
*/

#card3, #map{
  background: white;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 30px 50px -25px #FAF0D7;
  text-align: center;
  background-color: transparent;
}

div.contact_block{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#form_map, #works_table_container, #end_image_container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
}

input, textarea {
  border: 0px;
  border-radius: 5px;
  padding: 0.2rem;
  background-color:#C4DDFF;
  margin: 0.1rem;
  
}

div.button{
  text-align: center;
}


section.follow{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}

#social_media_section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
}

div.sm-elements{
  padding: 3rem;
}
