*{
  font-family: "Ubuntu", sans-serif;
}

/*
  */
#menu_list {
  list-style-type:none;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#menu_list li{
  padding-right: 1rem;
}

section.principal_view {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

#profile_picture{
  border-radius: 20% 40% 20% 40%;
}

#profile_info_container {
  padding-left: 3rem;
  text-align: center;
}

#sections_abilities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section.abilities_view {
  background-color: pink;
}

div.abilities_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 10%;
}

#card{
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 30px 50px -25px #ad3500;
  text-align: center;
}
